{% extends "base.html" %}
{% block header %}<title> SHARES_LIST </title>{% endblock header %} 

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">             
          <ul class="nav justify-content-center mt-3">
            <li class="nav-item">
               <h4>Buy Shares</h4>
            </li>
          </ul> 
        </div>
    </div>

    <div class="row">
      <div class="col-md-8 mx-auto">

        <a button type="button" class="btn btn-warning mt-3" href="{% url 'USER_LIST' %}">BACK TO USER LIST </a>

        <table class="table table-bordered border-primary mt-3">
            <thead>
                <tr class="table-warning">
                <th scope="col">Sr.No.</th>
                <th scope="col">LOG ID</th>
                <th scope="col">USER ID</th>
                <th scope="col">TIME</th>
                <th scope="col">REMARK</th>
                <th scope="col">CHANGES</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in userlogs %}    
                <tr class="table-warning">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ rec.log_id }}</td>
                    <td>{{ rec.uid }}</td>
                    <td>{{ rec.time }}</td>
                    <td>{{ rec.remark }}</td>
                    <td>{{ rec.changes }}</td>
                </tr>
                {% endfor %} 
            </tbody>
            </table>
      
    </div>
</div>
{% endblock content %}